.container-about-me {
  margin: 0 auto 20px auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-about-me {
  padding-right: 40px;
  text-align: justify;
  flex: 3;
}

.image-about-me {
  flex: 1;
}

.image-malin {
  width: 320px;
  border-radius: 50%;
  border: double 10px $brightgold;
  padding: 20px;
  box-shadow: 10px 10px 15px -5px rgba(8, 38, 78, 0.3);
}

@media (max-width: 800px) {

  .container-about-me {
    flex-wrap: wrap;
    justify-content: center;
  }

  .text-about-me {
    order: 1;
    padding-right: 0px;
    flex-basis: 100%;
  }

  .text-about-me h2 {
    margin: 30px auto 10px auto;
    text-align: center;
  }

  .image-about-me {
    flex-basis: 100%;
    text-align: center;
  }
}

