.container-form {
  margin: 0px auto 60px auto;
  padding: 30px 60px 40px 60px;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(235,193,100);
  background: linear-gradient(0deg, rgba(235,193,100,1) 0%, rgba(70,119,171,1) 100%);
  border-radius: 4px;
  box-shadow: 0 20px 15px -12px rgba(0, 0, 0, 0.5);
}

.container-form h2 {
  margin-bottom: 26px;
  text-align: center;
  color: $brightgold;
}

.contact-break {
  border: solid 0.5px rgba(235,193,100,0.5);
  width: 700px;
  margin-left: -60px;
  margin-bottom: 30px;
}

.form-name-email {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.input > input {
  border: 0;
  border-radius: 4px;
  width: 270px;
  outline: none;
  height: 30px;
  margin-top: 2px;
  font-family: 'Krub', sans-serif;
}

.form-subject {
  width: 100%;
}

.form-subject input {
  border: 0;
  border-radius: 4px;
  outline: none;
  width: 100%;
  height: 30px;
  margin-top: 2px;
}

.form-message {
  width: 100%;
}

.form-message textarea {
  resize: none;
  border: none;
  border-radius: 4px;
  outline: none;
  height: 150px;
  width: 100%;
  margin-top: 2px;
}

.form-name-email, .form-subject, .form-message {
  margin-bottom: 20px;
}

.container-form label {
  color: $brightgold;
  font-weight: 700;
}

@media (max-width: 699px) {

  .container-form {
    padding-left: 20px;
    padding-right: 20px;
  }

  .form-name-email {
    flex-direction: column;
  }

  .input > input {
    width: 100%;
  }

  .form-name-email .input:first-child {
    margin-bottom: 20px;
  }
}


















/*form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  height: 450px;
  background: rgba(0, 0, 0, 0.32);
  text-align: left;
  padding: 30px 0;
  .subject,
  .content {
      width: 70%;
      margin: 0 auto;
      label {
          display: block;
          padding: 0;
          margin: 0;
          font-family: 'Varela Round';
      }
  }
  .id {
      display: flex;
      justify-content: space-between;
      height: 60px;
      width: 70%;
      margin: 0 auto;
      .name,
      .email,
      {
          display: inline-block;
          width: 45%;
          label {
              display: block;
              padding: 0;
              margin: 0;
              font-family: 'Varela Round';
          }
          input[name="email"],
          input[name="name"] {
              width: 100%;
              height: 40px;
          }
      }
  }
  .subject {
      height: 62px;
      input[name="subject"] {
          width: 100%;
          height: 40px;
      }
  }
  .content {
      textarea {
          width: 100%;
          resize: none;
      }
      button {
        margin: 0;
          float: none;
          background: #e74c3c;
          padding: 8px 77px;
          border: 1px solid #e74c3c;
          box-shadow: 0 0 5px rgba(0, 0, 0, .4);
          font-family: 'Varela Round';
          transition: all .3;
          &:hover {
              background: none;
              border: 1px solid rgba(0, 0, 0, .7);
          }
      }
  }
} */