.site-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: $darkblue;
  text-align: center;
}

.site-footer h3 {
  text-transform: none;
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
}

.site-footer i {
  color: $brightgold;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  font-size: 36px;
}

/* MODAL PRIVACY POLICY */

.modal {
  width: 800px;
  height: 100%;
}

.modal-footer-header {
  background: $lighterblue;
  padding-left: 15px;
  padding-right: 15px;
}

.privacy-policy-title {
  padding-top: 30px;
  padding-bottom: 30px;
}

.modal-text p {
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
}

.close-modal-bottom {
  margin-bottom: 40px;
}

