.main-header {
  background-image: url("../img/hero-bg3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  margin-bottom: 60px;
  position: relative;
}

.container-navbar {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 10px;
}

.container-navbar::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  height: 60px;
  padding-top: 4px;
}

.main-nav {
  padding: 0;
  float: right;
}

.main-nav ul {
  margin: 0;
  padding: 0;
}

.main-nav li {
  list-style: none;
  display: inline-block;
  margin-left: 50px;
  padding-top: 10px;
}

.main-nav a {
  color: $light;
  font-size: 18px;
  display: block;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  transition: color 800ms ease;
}

.main-nav a:hover, .site-nav a:focus {
  color: $brightgold;
  transition: color 800ms ease;
}

.hero-text {
  text-align: center;
  padding-top: 80px;
}

/*.main-header::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("../img/wave2.png");
  height: 240px;
  background-size: cover;
  background-repeat: no-repeat;
} */

.ml5 {
  position: relative;
}

.ml5 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.25em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
  padding-left: 0.05em;
  line-height: 1em;
}

.ml5 .line {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 3px;
  width: 100%;
  background-color: $brightgold;
  transform-origin: 0.5 0;
}

.ml5 .ampersand {
  font-family: 'Seaweed Script', cursive;
  width: 1em;
  margin-right: -0.1em;
  margin-left: -0.1em;
}

.ml5 .letters {
  display: inline-block;
  opacity: 0;
}


