.main-header {
  background-image: url("../img/hero-bg3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  margin-bottom: 0px;
  position: relative;
}

/* NAVBAR */

.container-navbar {
  position: relative;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 10px;
}

.container-navbar::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  height: 60px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.main-nav {
  padding: 0;
  float: right;
}

.main-nav ul {
  margin: 0;
  padding: 0;
}

.main-nav li {
  list-style: none;
  display: inline-block;
  margin-left: 50px;
  padding-top: 10px;
}

.main-nav a {
  color: $light;
  font-size: 18px;
  display: block;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  transition: color 800ms ease;
}

.main-nav a:hover, .site-nav a:focus {
  color: $brightgold;
  transition: color 800ms ease;
}

/* MEDIA QUERY FOR SMALLER SCREENS */

@media (max-width: 700px) {

  .main-nav {
    position: absolute;
    top: 100%;
    right: 0%;
    background: $brightgold;
    height: 0px;
    width: 100vw;
    overflow: hidden;
    z-index: 10;
  }

  .main-nav--open {
    height: auto;
  }

  .main-nav li {
    display: block;
    text-align: center;
    margin: auto;
  }

  .main-nav a {
    color: $darkblue;
    text-align: center;
    padding: 30px 30px 30px 30px;
  }

  .main-nav a:hover, .main-nav a:focus {
    color: $lighterblue;
  }

  .main-nav li {
    border-bottom: 1px solid darken($color: $brightgold, $amount: 10%);
  }
  
  .main-nav li:first-child {
    border-top: 1px solid darken($color: $brightgold, $amount: 10%);
  }

  .menu-toggle {
    padding: 1em;
    position: absolute;
    top: 0.8em;
    right: .3em;
    cursor: pointer;
  }
  
  .hamburger,
  .hamburger::before,
  .hamburger::after {
    content: '';
    display: block;
    background: $light;
    height: 3px;
    width: 1.75em;
    border-radius: 3px;
    transition: all ease-in-out 500ms;
  }
  
  .hamburger::before {
    transform: translateY(-6px);
  }
  
  .hamburger::after {
    transform: translateY(3px);
  }
  
  .hamburger--open .hamburger {
    transform: rotate(45deg);
  }
  
  .hamburger--open .hamburger::before {
    opacity: 0;
  }
  
  .hamburger--open .hamburger::after {
    transform: translateY(-3px) rotate(-90deg);
  }
}

/* HEADER TEXT */

.hero-text {
  text-align: center;
  padding-top: 5em;
}

.hero-text h1 {
  text-shadow: 3px 4px 5px rgba(0, 0, 0, 0.7);
}

@media (max-width: 930px) {

  .hero-text h1 {
    font-size: 46px;
  }
}

@media (max-width: 800px) {

  .hero-text h1 {
    font-size: 40px;
  }
}

@media (max-width: 682px) {

  .hero-text {
    padding-top: 4em;
  }
}



.main-header::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("../img/wave2.png");
  height: 240px;
  background-size: cover;
  background-repeat: no-repeat;
} 



