
.button-work {
  padding: 8px 16px;
  color: $light;
  border: solid 1px $light;
  border-radius: 4px;
  background-color: transparent;
  text-transform: uppercase;
  font-family: 'Krub', sans-serif;
  font-size: 14px;
  letter-spacing: 1.2px;
  transition: all 250ms ease;
  display: block;
  text-decoration: none;
  width: 174px;
  margin: 6px auto;
  text-align: center;
}

.button-work:hover, .button-work:focus {
  background-color: $light;
  color: #030F1F;
}

.button-form {
  padding: 12px 40px;
  color: $brightgold;
  background-color: #6a92bb;
  /*border: solid 1px #5884b3; */
  border: none;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
}

.button-form:hover, .button-form:focus {
  background-color: darken($color: #6a92bb, $amount: 10%);
  color: $brightgold;
  transform: translateY(4px);
}

