/***** BUTTON THAT OPENS THE MODALS WORK SECTION *****/

.btn-transparent {
  padding: 8px 16px;
  color: $light;
  border: solid 1px $light;
  border-radius: 4px;
  background-color: transparent;
  text-transform: uppercase;
  font-family: 'Krub', sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.2px;
  transition: all 250ms ease;
  display: block;
  text-decoration: none;
  width: 174px;
  margin: 6px auto;
  text-align: center;
  cursor: pointer;
}

.btn-transparent:hover, .btn-transparent:focus {
  background-color: $light;
  color: #030F1F;
}

/***** BUTTON INSIDE THE MODALS WORK SECTION *****/

.btn-gold {
  padding: 8px 16px;
  color: $lighterblue;
  background-color: $brightgold;
  border: solid 1px darken($brightgold, $amount: 10%);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  transition: all 250ms ease;
  cursor: pointer;
  text-transform: uppercase;
}

.btn-gold:hover, .btn-gold:focus {
  background-color: $lighterblue;
  color: $brightgold;
  border: none;
}

/***** BUTTON BOTTOM OF THE PAGE *****/

.btn-gold-2 {
  padding: 12px 30px;
  font-size: 16px;
  box-shadow: 0 12px 20px -8px rgba(0, 0, 0, 0.5);
}

/***** BUTTON CONTACT FORM *****/

.btn-blue {
  padding: 12px 40px;
  color: $brightgold;
  background-color: #6a92bb;
  /*border: solid 1px #5884b3; */
  border: none;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
}

.btn-blue:hover, .btn-blue:focus {
  background-color: darken($color: #6a92bb, $amount: 10%);
  color: $brightgold;
  transform: translateY(4px);
}

/***** BUTTON PRIVACY POLICY (LOOKS LIKE A LINK) *****/

.btn-link {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: $brightgold;
  font-size: 18px;
  font-weight: 700;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
