*, *::before, *::after {
  box-sizing: border-box;
}

body {
  /*background: $light; */
  background: $bodybg;
  position: relative;
  margin: 0px;
  padding-bottom: 180px;
  min-height: 100%;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

.responsive {
  max-width: 100%;
  height: auto;
}

.anchor {
  padding-top: 40px;
}
