h1 {
  font-family: 'Krub', sans-serif;
  font-weight: 700;
  font-size: 50px;
  color: $light;
  text-transform: uppercase;
}

h2 {
  font-family: 'Seaweed Script', cursive;
  font-weight: 100;
  font-size: 40px;
  color: $brightgold;
  margin-bottom: 15px;
}

h4 {
  font-family: 'Krub', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  color: $textgrey;
}

a {
  font-family: 'Krub', sans-serif;
  font-weight: 700;
}