body {
  font-family: 'Krub', sans-serif;
  font-size: 16px;
}

h1 {
  font-family: 'Krub', sans-serif;
  font-size: 54px;
  color: $brightgold;
  text-transform: uppercase;
  font-weight: 400;
}

h2 {
  font-family: 'Seaweed Script', cursive;
  font-weight: 100;
  font-size: 42px;
  color: $brightgold;
  margin-bottom: 15px;
  letter-spacing: 2px;
}

h3 {
  font-family: 'Krub', sans-serif;
  font-weight: 400;
  font-size: 28px;
  color: $brightgold;
  text-transform: uppercase;
}

h4 {
  font-family: 'Krub', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  color: $textgrey;
}

p {
  font-family: 'Krub', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: $textgrey;
}

a {
  font-family: 'Krub', sans-serif;
  font-weight: 700;
}

label {
  font-family: 'Krub', sans-serif;
}

input {
  font-family: 'Krub', sans-serif;
  color: $textgrey;
}